.typing-animation {
  border-right: 2px solid #000;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: typing 2s steps(10) infinite, blink 0.7s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
